.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 2rem;
    text-decoration : underline;
}
.scores{
    display: flex;
    flex-direction: column;
}
.score{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid black 0.2rem;
    margin: 0.5rem 0;
    padding : 0.5rem 0.75rem;
    border-radius: 0.5rem;
    transition: 200ms;
    cursor : pointer;
}.score:hover{
    background-color : rgb(240,240,240)
}
.score_div_2{
    display: flex;
    flex-direction :column;
    align-items:center;
    justify-content: center;
}
.score_div_1{
    display: flex;
    align-items: center;
}
.name{
    color: red;
    font-size: 1.15rem;
}.name:hover{
    text-decoration: underline;
}
.nav_btns_div{
    display:grid;
    grid-template-columns: 50% 50%;
}
.prev_btn , .next_btn{
    border: solid black 0.2rem;
    background-color: red;
    color: white;
    font-size: 1.15rem;
    padding: 0.5rem 0.25rem;
    transition: 200ms;
}.prev_btn{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}.next_btn{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}.prev_btn:hover , .next_btn:hover{
    background-color: rgb(247, 55, 55);
    transform: scale(1.01);
}
.scores_sub_div{
    height: 27.5rem;
}